.button-create-spot-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: black;
    background: none;
    border-radius: 12px;
    font-family: 'Montserrat semibold', 'sans-serif';
    font-size: 13px;
    width: 170px;
    height: 30px;
    cursor: pointer;

}

.button-create-spot-modal:hover {
    background:rgb(243, 243, 243);
}
