.button-create-review-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(249, 56, 72);
    border: none;
    color: white;
    border-radius: 3px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 14px;
    width: 100px;
    height: 35px;
    cursor: pointer;

}

.button-create-review-modal:hover {
    box-shadow: -0.2px 0.2px 1px  rgb(161, 161, 161);
    background: rgb(249, 66, 82);
}
