.details-main {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;

}

.detail-page{
    display:flex;
    margin-bottom: 50px;
    justify-content: center;

}

.details-body {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.review-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    position: relative;
    padding-top: 15px;
    padding-left: 5px;
    border-top: 1px solid rgb(230, 230, 230);
}

.review-body {
    display: flex;
    justify-content: space-between;
    height:auto;
    width: 20%;

}

.details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 500px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.details-text:hover {
    background:  rgb(253, 245, 245);
}

.details-image {
    display: flex;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 10px;
    width: 50%;
    height: 500px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.details-info {
    display: flex;
    font-family: 'Montserrat light', 'sans-serif';
    flex-direction: column;
    align-items: center;

}

.details-name {
    display: flex;
    font-size: 22px;
    text-align: center;

}

.details-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;

}

.details-price {
    display: flex;
    padding-top: 35px;
    font-size: 18px;
    text-align: center;
}

.details-price-number {
    font-family: 'Montserrat semibold', 'sans-serif';

}

.details-description-header {
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;

}

.details-description-body {
    display: flex;
    text-align: center;
    line-height: 1.4;
    font-family: 'Montserrat semibold', 'sans-serif';
    font-size: 25px;
    padding-left: 4px;
}

.details-owner-first-name {
    padding-left: 3px;
    padding-right: 3px;
}

.details-header {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', 'sans-serif';
    padding-top: 20px;
    padding-bottom: 30px;
}

.details-header-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
    font-size: 15px;
}

.details-header-info-rating {
    display: flex;
    padding-right: 5px;

}

.details-header-info-reviews {
    display: flex;
    padding-right: 5px;

}

.details-header-info-location {
    display: flex;
}

.breaker {
    display: flex;
    padding-right: 5px;
}


.details-header-title {
    font-size: 35px;
    margin-bottom: 7px;
    font-family: 'Montserrat semibold', 'sans-serif';
}

.single-review {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgb(255, 222, 225);
    border-top: 1px solid rgb(255, 222, 225);
    align-items: center;
    padding: 20px;
    margin: 20px;
    margin-bottom: 25px;
}

.single-review:hover {
    background: rgb(253, 245, 245);
}

.review-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 9px;
}

.review-info-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-info-stars {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.review-review {
    display: flex;
    padding-bottom: 4px;
    font-size: 15px;
}

.spots-info-review {
    font-family: 'Montserrat semibold', 'sans-serif';
    padding-bottom: 4px;
}

.review-info-name {
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat semibold', 'sans-serif';
    font-size: 12px;
}


.review-header {
    font-size: 25px;
    font-family: 'Montserrat semibold', 'sans-serif';
    padding-top: 1px;
    padding-left: 14px;

}

.review-button {
    display:flex;
    width: auto;
    justify-content: center;
    padding-left: 8px;
}

.edit-button-div {
    display: flex;
    width: auto;
    height: auto;
    justify-content: flex-end;
    padding-bottom: 3px;

}

.edit-button {
    display: flex;
    width: 45px;
    height: 20px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 8px;
    padding-left: 94%;

}

.delete-review-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 95%;
    bottom: 90%;
    font-size: 7px;
    width: 18px;
    height: 15px;
    color: white;
    background-color: rgb(249, 56, 72);
    border-radius: 5px;
    border: 2px rgb(250, 53, 68);
}

.delete-review-button:hover {
    box-shadow: -0.2px 0.2px 1px  rgb(161, 161, 161);
    background: rgb(249, 66, 82);
}

.delete-review-button-div {
    display: flex;
    justify-content: flex-end;
    height: 0px;
    width: 145px;
}

.key {
    list-style: none;
}
