* {
    box-sizing: border-box;
  }

.spots-body {
    box-sizing: border-box;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
    row-gap: 10px;
    position: relative;
    top: 40px;
}

.spots-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.key {
    list-style: none;
}


.spots-page {
    display: flex;
}


.spots-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 220px;
    flex-direction: column;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 17px;
    color: black;
}

.spots-image {
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}

.spots-bottom-div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.spots-info-rating {
    margin-top: 5px;
    display: flex;
    font-size: 16px;
    font-family: 'Montserrat', 'sans-serif';
    color: black;
    height: 60px;
}

.spots-info-location {
    font-family: 'Montserrat', 'sans-serif';
    padding-bottom: 4px;

}

.spots-info-price {
    display: flex;
}


.spots-price {
    font-family: 'Montserrat semibold', 'sans-serif';
    padding-right: 2px;
    word-spacing: 0.1px;
}

.fa-star {
    display: flex;
    margin-right: 3px;
}
