.profile-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    background: white;
    width: 70px;
    height: 40px;
    border: 0.5px solid rgb(161, 161, 161);
    border-radius: 12px;
    margin-right: 25px;
    cursor: pointer;

}
.profile-button:hover {
    box-shadow: -0.2px 0.2px 1px  rgb(161, 161, 161);
}

.bar-icon {
    list-style: none;
    display: flex;
    position: relative;
    padding-left: 3px;

}

.profile-icon {
    display: flex;
    position: relative;
    padding-right: 3px;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background: white;
    width: 200px;
    height: 90px;
    border: 0.7px solid rgb(230, 230, 230);
    border-radius: 5px;
    position: absolute;
    top: 37px;
    right: 25px;
}

.profile-dropdown li {
    display: flex;
    position: relative;
    top: 5px;
    right: 40px;

}

.dropdown-buttons {
    display:flex;
    flex-direction: column;
    padding-left: 10.2px;
}

.logged-in-dropdown-elements {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat semibold', 'sans-serif';
    font-size: 13px;
}

.dropdown-logout {
    position: relative;
    align-self: center;
    font-size: 12px;
    background: rgb(249, 56, 72);
    border: 1px solid rgb(249, 56, 72);
    color: white;
    width: 100%;
    height: 25px;
    border-radius: 12px;
    top: 5px;

}


.hidden {
    display: none;
}
